<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

  <!--define various log targets-->
  <targets async="true">
    <target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}-${level}.log"
            layout="【异常时间】：${longdate} | 【异常级别】：${level:uppercase=true} | 【错误内容】：${message}-${exception} ;" />
  
  </targets>

  <rules>  
    <logger name="*" level="Debug" writeTo="logfile" />
    <logger name="*" level="Error" writeTo="logfile" />
  </rules>

</nlog>
